@import url("song.css");

.box {
	background-color: rgb(61, 38, 80);
}

body {
    background-color: rgb(31, 20, 34);
}

.song-credit {
	color: rgb(192, 123, 192);
}

.song-credit a {
	color: rgb(225, 154, 235);
}

.links {
    color: rgb(225, 154, 235);
}